img{
    width: 500px;
    height: 275px;
    margin-top: 10px;
}

#product_div{
    width: 900px;
    margin-top: 80px;
    margin-left: 100px;
    margin-bottom: -70px;
}

#article{
	margin-left: 0px;
    margin-top: 100px;
}

#product{
    width: 300px;
    height: 390px;
    display: inline-block;
    border: 0.5px outset #f8f8f8;
}

body{
    background:url(https://s3.amazonaws.com/Syntaxxx/background-gold-bokeh.jpg) center center fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

#container{
	max-width: 1000px;
	margin-left: 200px;
    height: 1000px;
}

#view_button{
	margin-left: 100px;
	width:25%;
}

footer {
  margin-right: auto;
  margin-right: auto;
  text-align: center;
}