img{
    width: 200px;
    height: 275px;
    margin-top: 10px;
    float: left;
}

#product_div{
    width: 900px;
    margin-top: 80px;
    margin-left: 100px;
    margin-bottom: -70px;
}

#article{
	margin-left: 0px;
    margin-top: 100px;
}

#product{
    width: 300px;
    height: 390px;
    display: inline-block;
    border: 0.5px outset #f8f8f8;
}

body{
    background:url(https://s3.amazonaws.com/Syntaxxx/background-gold-bokeh.jpg) center center fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

#container{
	max-width: 1000px;
	margin-left: 200px;
    height: 1000px;
}

#view_button{
	margin-left: 100px;
	width:25%;
}

#rows{
    margin-top:150px;
    margin-left:-150px;
}

#product_image{
    width: 49%;
    float:left;
    border: 0px solid;
}

#title{
    margin-top: -12px;
    width: 100%;
    border: 0px solid;
}

#product_price{
    margin-top: 100px;
    width: 100%;
    border: 0px solid;
}

#product_info{
    margin-left:-250px;
    width: 600px;
}

#description{
    margin-top:40px;
}

#fig{
    width: 80%;
    margin-top: 10px;
}