body, nav, ul, li, a  {margin: 0; padding: 0; }
body {font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
a {text-decoration: none;}
.container {
    width: 90%;
    max-width: 900px;
    margin: 10px auto;
    margin-right: 100px;
}
.toggleMenu {
    display:  none;
    background: #FFFFCC;
    padding: 10px 15px;
    color: #000;
}
.nav {
    list-style: none;
     *zoom: 1;
     background:#FFFFCC;
}
.nav:before,
.nav:after {
    content: " "; 
    display: table; 
}
.nav:after {
    clear: both;
}
.nav ul {
    list-style: none;
    width: 9em;
}
.nav a {
    padding: 10px 15px;
    color:#000;
}
.nav li {
    position: relative;
    width: 130px;
}
.nav > li {
    float: left;
    border-top: 1px solid #FFFFCC;
}
.nav > li > .parent {
    background-repeat: no-repeat;
    background-position: right;
}
.nav > li > a {
    display: block;
}
.nav li  ul {
    position: absolute;
    left: -9999px;
}
.nav > li.hover > ul {
    left: 0;
    background-color: #FFFFCC;
}
.nav li li.hover ul {
    left: 100%;
    top: 0;
    background-color: #FFFFCC;
}
.nav li li a {
    display: block;
    background: #FFFFCC;
    position: relative;
    z-index:100;
    border-top: 2px solid #ffffff; /*na border*/
}
.nav li li li a {
    background:;
    z-index:200;
    border-top: 1px solid #FFFFCC;
}

@media screen and (max-width: 768px) {
     .active {
         display: block;
         color:#000000; /*color of menu when mobile*/
     }
     .nav > li {
         float: none;
     }
     .nav > li > .parent {
         background-position: 95% 50%;
     }
     .nav li li .parent {
         background-image: url("images/downArrow.png");
         background-repeat: no-repeat;
         background-position: 95% 50%;
     }
     .nav ul {
         display: block;
         width: 100%;
     }
    .nav > li.hover > ul , .nav li li.hover ul {
         position: static;
    }
 
 } 
