<!DOCTYPE html>
<html lang="en">

<head>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Indian beauty</title>
 
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/index_css.css" rel="stylesheet">
    <link href="css/nav.css" rel="stylesheet">
    <link href= "css/contactus.css" rel="stylesheet">

</head>

<body>  
     <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <a class="toggleMenu" href="#">Menu</a>
            <ul class="nav">
                <li  class="test"><a href="/">Home</a></li>
                <li>
                    <a href="#">Sarees</a>
                    <ul>
                        <li><a href="bridal_sarees.html">Bridal</a></li>
                        <li><a href="bollywood_sarees.html">Bollywood</a></li>
                        <li><a href="classic_sarees.html">Classic</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Lehengas</a>
                    <ul>
                        <li><a href="bridal_lehenga.html">Wedding</a></li>
                        <li><a href="bollywood_lehenga.html">Bollywood</a></li>
                    </ul>
                </li>
                <li><a href="#">Kurti</a></li>
                <li>
                    <a href="#">Accessories</a>
                    <ul>
                        <li><a href="earrings.html">Earrings</a></li>
                        <li><a href="sets.html">Jewelry sets</a></li>
                        <li><a href="bracelets.html">Bracelets</a></li>
                    </ul>
                </li>
                <li><a href="contactus.html">Contact us</a></li>
            </ul>
        </div>
    </nav>

    <div id="index_row" class="decoration_row">
        <div style="background-image: url(images/background/bg3.png); height: 84px;width:100%;background-repeat: repeat-x;"></div>
    </div>

    <div class="post_content">
        <h1 style="margin-left:60px;">Contact us</h1>
        <div class="boxed">
            <div class="box">
           <p align="center"><b style="color:white;"><h4>Contact us</h4></b></p>
        </div>  
            <p>Thank you for your interest in Indian Inspires website!</p>
            <p>For information about stocking, please email : 
            <a href="mailto:indiainspires_trade@abv.bg">indiainspires_trade@abv.bg </a> 
            </p>
            <p>For any other queries, please email: <a href="mailto:indiainspires_info@abv.bg">indiainspires_info@abv.bg</a></p>
            <address>
                <p>Written by Milena Decheva and Klara Kayralah</p>
                <p>Contact us at: </p>
                <p><a href="mailto:milenadecheva@gmail.com">milenadecheva@gmail.com</a></p>
                <p><a href="mailto:kajralah@gmail.com ">kajralah@gmail.com </a></p>
                Visit us at: <br>
                Example.com<br>
                Box 564, Disneyland<br>
                BG
              </address>

              <a href="https://twitter.com/indiainspires_" target="_blank">
              <img src="/images/icon-twitter.jpg" alt="Twitter Icon" style="width:25px;height:25px;">
             </a>
             <a href="https://www.facebook.com/India-Inspires-1665985693672122/?fref=ts" target="_blank">
             <img src="/images/icon-facebook.jpg" alt="Facebook Icon" style="width:25px;height:25px;">
            </a>

</div>
<footer>
<br></br>
    <a href="terms-and-conditions.html"> Terms and conditions </a>
    |
    <a href="privacy.html"> Privacy </a>
    |
    <a href="contactus.html"> Contact us</a>
    |
    <a href="https://twitter.com/indiainspires_" target="_blank">
    <img src="/images/icon-twitter.jpg" alt="Twitter Icon" style="width:25px;height:25px;">
    </a>
    |
    <a href="https://www.facebook.com/India-Inspires-1665985693672122/?fref=ts" target="_blank">
    <img src="/images/icon-facebook.jpg" alt="Facebook Icon" style="width:25px;height:25px;">
    </a>
</footer>

    <script src="js/jquery-2.2.0.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/loadSarees.js"></script>
    <script src="js/nav.js"></script>
</body>

</html>
