<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Indian beauty</title>
 
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/nav.css" rel="stylesheet">
    <link href="css/index_css.css" rel="stylesheet">
</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <a class="toggleMenu" href="#">Menu</a>
            <ul class="nav">
                <li><a href="/">Home</a></li>
                <li>
                    <a href="#">Sarees</a>
                    <ul>
                        <li><a href="bridal_sarees.html">Bridal</a></li>
                        <li><a href="bollywood_sarees.html">Bollywood</a></li>
                        <li><a href="classic_sarees.html">Classic</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Lehengas</a>
                    <ul>
                        <li><a href="bridal_lehenga.html">Wedding</a></li>
                        <li><a href="bollywood_lehenga.html">Bollywood</a></li>
                    </ul>
                </li>
                <li><a href="kurti.html">Kurti</a></li>
                <li>
                    <a href="#">Accessories</a>
                    <ul>
                        <li><a href="earrings.html">Earrings</a></li>
                        <li><a href="sets.html">Jewelry sets</a></li>
                        <li><a href="bracelets.html">Bracelets</a></li>
                    </ul>
                </li>
                <li><a href="contactus.html">Contact us</a></li>
            </ul>
        </div>
    </nav>

    <div id="index_row" class="decoration_row">
        <div id="background"></div>
    </div>

    <div class="container" id="container">
        <div class="row" id="row">
            <article id="article">
                <h2 align="center">Kurti</h2>
                <p id="result" align="center"></p>
            </article>
        </div>
    </div>

    <footer>
        <br></br>
        <a href="terms-and-conditions.html"> Terms and conditions </a>
        |
        <a href="privacy.html"> Privacy </a>
        |
        <a href="contactus.html"> Contact us</a>
        |
        <a href="https://twitter.com/indiainspires_" target="_blank">
            <img src="/images/icon-twitter.jpg" alt="Twitter Icon" id="social">
        </a>
        |
        <a href="https://www.facebook.com/India-Inspires-1665985693672122/?fref=ts" target="_blank">
            <img src="/images/icon-facebook.jpg" alt="Facebook Icon" id="social">
        </a>
    </footer>

    <script src="js/jquery-2.2.0.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/loadKurti.js"></script>
    <script src="js/nav.js"></script>
    <script>
        $(document).ready(function(){
            kurti.getProduct('kurti');
        });
    </script>

</body>

</html>